{% extends 'base_portfolio.html' %}
{% load static %}

{% block content %}
  <main id="main">

    <section class="section pb-5">
      <div class="container">
        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">

            <h2>About Me</h2>
            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut
              officiis explicabo inventore.</p>
          </div>

        </div>

        <div class="row">
          <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
            <h3 class="h3 mb-4">Skills</h3>
            <ul class="list-unstyled">
              <li class="mb-3">
                
              </li>
              <li class="mb-3">
                -
              </li>
              <li class="mb-3">
                -
              </li>
              <li class="mb-3">
                -
              </li>
              <li class="mb-3">
                -
              </li>
              <li class="mb-3">
                -
              </li>
              <li class="mb-3">
                -
              </li>
             
            </ul>
          </div>

          <div class="col-md-7 mb-5 mb-md-0" data-aos="fade-up">
            
            <p><img src="{% static 'img/noimage.jpg' %}" alt="Image" class="img-fluid"></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dignissimos delectus minima reprehenderit
              molestias illo dolorem et, odio!</p>
            <p>Fuga fugit distinctio delectus iure vitae consequatur excepturi, mollitia, consectetur molestias sapiente
              rem consequuntur, illum adipisci, sed obcaecati!</p>
            <p>Ex, dolorem qui voluptas reprehenderit provident, ad ipsum iure a consequatur voluptatem incidunt nobis.
              Vitae reiciendis quae ex.</p>
            <p>Optio consectetur culpa nemo, fugit pariatur veniam voluptate laudantium rerum fuga dolor in maiores ea
              nisi voluptatibus. Minus?</p>
            <p><a href="#" class="readmore">Download my CV</a></p>
          </div>

        </div>

      </div>

    </section>

  </main><!-- End #main -->

  {% endblock %}